<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <title>Tyler Cooper | Portfolio</title>
</head>
<body>
    <main class="main main--error">
        <h1>500 - Internal Server Error</h1>
        <p>
            Sorry, whatevver it is you just did.. Please don't do it again.
        </p>
        <a href="{{ url_for('home') }}">Go to home</a>
    </main>
</body>
</html>