{% extends 'base.html' %}

{% block content %}

<main class="main main--about">
    <p>
        Hi, I'm Tyler Cooper. I love spending my time learning and growing however I can. I've been 
        taking multiple courses for software development, as well as studying for certifications for hardware.
        My goal is to truly deepen my understanding of technology in every way I can.
    </p>
    <p>
        I find coding to be incredibly rewarding. The feeling of everything coming together makes the struggle worth it.
        Looking back and seeing where you started is a truly remarkable experience. It truly scratches the problem solving itch as well.
    </p>
    <p>
        On top of all of that I am also a musician, husband, and runner. I spend my free time pushing the limits with distance training or
        watching shows with my wife, Jaelle. Coding is only a small fraction of what takes up most of my time. I have spent time learning Python, HTML,
        CSS, JavaScript, Flask, MongoDB, and more. I have also spent extensive amounts of time learning Linux with some various versions.
        
    </p>
</main>

{% endblock %}