{% extends 'base.html' %}


{% block content %}

<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:ty.j.cooper@icloud.com">
                    ty.j.cooper [at] icloud.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/ty-cooper">
                    @ty-cooper
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Twitter:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="#">
                    @#
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}